{{ if eq .chezmoi.os "linux" -}}
	#!/bin/bash
	{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
		sudo apt install -y {{ range .packages.ubuntu.apps }} {{.}} {{ end }}
		sudo apt install -y {{ range .packages.linux.apps }} {{.}} {{ end }}
	{{ end -}}
	{{ if eq .chezmoi.osRelease.id "arch" -}}
		sudo pacman -S --needed --noconfirm {{ range .packages.arch.apps }} {{.}} {{ end }}
		sudo pacman -S --needed --noconfirm {{ range .packages.linux.apps }} {{.}} {{ end }}
	{{ end -}}
{{ end -}}

