# Unix
alias cat=bat
alias cd=z
alias ln="ln -v"
alias mkdir="mkdir -p"
alias vi=vim

alias ls="lsd --permission octal"
alias ll="ls -al --hyperlink=auto --color=auto"

alias e="$EDITOR"
alias v="$VISUAL"

# Bundler
alias b="bundle"

# Rails
alias rs="rspec"
alias be="bundle exec"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# custom aliases
alias gcssh-pd='gcloud compute ssh --zone "us-central1-a" "dyoung522@project-daedalus"  --project "projectdaedalus-fb09f"'

{{ if eq .chezmoi.os "linux" }}
{{ if (or (.chezmoi.kernel.osrelease | lower | contains "microsoft") (.chezmoi.osRelease.idLike | lower | contains "debian")) }}
# Override cat alias under Debian / WSL2
alias cat=batcat
# Use nala instead of apt-get
alias apt=nala
alias apt-get=nala
{{ end -}}
{{ end -}}
