# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"
alias cat=bat
alias ls=lsd
alias vi=vim
alias cd=z

# Bundler
alias b="bundle"

# Rails
alias s="rspec"
alias be="bundle exec"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# custom aliases
alias gcssh-pd='gcloud compute ssh --zone "us-central1-a" "dyoung522@project-daedalus"  --project "projectdaedalus-fb09f"'

{{ if eq .chezmoi.os "linux" }}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# Override cat alias under WSL2
alias cat=batcat
{{ end -}}
{{ end -}}
